body {
	background-color: #FFE4C4; 
	border: 3px; 
	color: black; 
	font-family: Georgia; 
	font-size: 12pt;
	margin: 20px;
	} 


h1 {
	background-color: red;
	color: white;  
	font-family: Georgia; 
	font-size: 45pt; 
	margin-bottom: 5px; 
	text-align: center
}

h2 {
	font-family: Georgia; 
	font-size: 15pt; 
	font-style: italic;
	margin-top: 5px; 
	margin-bottom: 10px; 
	padding-top: 5px;
	text-align: center; 
}

h3 {
	font-size: 35pt;
	text-align: center
}

h4 {
	font-family: Georgia; 
	font-size: 13pt;
	margin-top: 5px; 
	margin-bottom: 10px; 
	padding-top: 5px;
	font-style: normal;
	text-align: center; 
}

time {
	color: blue
}

nav {
	color: red; 
	font-family: Georgia;  
	font-size: 12pt;
	margin-top: 5px; 
	margin-bottom: 10px; 
	padding-top: 5px;
	font-style: normal;
	text-align: center; 
}

article {
	background-color: white;  
	font-size: 12pt;
	margin-top: 10px; 
	margin-bottom: 10px; 
	margin-left: 10px; 
	margin-right: 10px; 
	padding-top: 10px; 
	padding-bottom: 5px; 
	padding-left: 10px; 
	padding-right: 10px; 
	border: solid;
	border-style: double;
	border-width: 10px; 
	border-color: red; 

footer {
	background-color: #FFE4C4; 
	color: black; 
	font-family: Georgia; 
	font-size: 10pt;
}


